.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  align-items: center;
  position: sticky;
  z-index: 20;
  width: 100%;
  background-color: transparent;
  transition: 0.5s;
  margin: 0 auto;
  max-width: 1440px;
}

.navbar.fixed {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  top: 0;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}


.navbar .logo{
  width: 100px;
  height: 45px;
  font-size: 30px;
  cursor: pointer;
}

.navbar ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.navbar ul li{
  border-bottom: 2px solid transparent;
}


.navbar ul li a{
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  color: #191919;
}

.navbar ul li a:hover{
  color: #121250;
}

.nav-link.active{
  border-bottom: 2px solid #121250;
}

.nav-link.active a{
  color: #121250;
}

.navbar div{
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar div a{
  padding: 7px 15px;
  border: 1px solid  var(--brighter);
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  background-color: var(--brighter);

}

.navbar div a:hover{
  background-color: transparent;
  border: 1px solid var(--brighter);
  color: var(--brighter);
}

.navbar div .nav-icon{
  font-size: 30px;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  transition: .2s;
}

.navbar div .nav-icon:hover{
  background-color: #F39C12;
  color: #fff;
}


/* Navbar.css */
.nav-icons {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 15px;
}

.user-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 20px; /* Adjust based on your design */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.logout-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.logout-btn:hover {
  background-color: #d32f2f;
}


@media (max-width: 600px) {
  .navbar{
    padding: 20px 20px;
  }
  .navbar ul{
    display: none;
  }
}
